<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- <link rel="stylesheet" href="/css/bulma.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <h1>YOU BLOG</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="">
          Home
        </a>
      </div>
    </div>
  </nav>

  <div class="container my-6">
    <div class="columns">
      <div class="column is-11">
        <div class="field">
          <div class="control">
            <input class="input" type="text" name="search" placeholder="ค้นหาบทความ..." />
          </div>
        </div>
      </div>
      <div class="column is-1">
        <input type="submit" class="button is-info is-fullwidth" value="ค้นหา" />
      </div>
    </div>

    <!--  -->
    <div class="columns">
      <% article.forEach(function(data){ %> <!-- เริ่ม loop -->
        <div class="column is-3">
          <a href="#">
            <div class="card" style="height: 100%">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src= <%= data.feature_image %> />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">
                      <%= data.title %>
                    </p>
                    <p class="subtitle is-6">
                      <%= data.author %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    </div>
  </div>
</body>

</html>